body{
	font-family: sans-serif;
	background: #2B2B52;
	color: white;
	margin: 0px 20px;
	display: block;
}
.nav {
	position: absolute;
	background: #8B78E6;
	top: 0px;
	left: 0px;
	width: 100%;
	align-items: center;
}
.nav h1 {
	margin: 20px;
}
.connector {
	position: absolute;
	top: 76px;
	left: 85.5%;
	height: 120px;
	width: 70px;
	background: #8B78E6;
	z-index: -2;
}
#instagram {
	position: absolute;
	top: 40%;
	left: 6%;
}
#posts {
	position: absolute;
	top: 50%;
	z-index: -1;
	padding: 10px 10px;
}
a {
	color: white;
	text-decoration: none;
}
p{
	position: relative;
	left: 75%;
	transform: translate(-50% , -50%);
}
#between {
	position: absolute;
	left: 0px;
	z-index: -3;
	width: 100%;
	top: 76px;
}
